* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(254, 254, 254);
    padding: 50px;
}

header{
    display:inline-block;
    margin-left: 0;
}
 main {
    padding: 50px;
    display: inline-block;
 }

h1 {
    font-family: monospace;
    text-align: center;
    font-size: 52px;
    color: rgb(196, 0, 0);
    margin-bottom: 20px;
}

hr{
    border: 5px solid yellowgreen;
    margin-left: 125px;
    margin-right: 125px;
}


.fluk{
    margin-top: 30px;
}

.table {
    border: 5px solid black;
    padding: 50px;
    margin-right: 180px;
    background-color: white;
}
    

li{
    font-family: monospace;
    color: black;
    font-size: 18px;
    margin-left: 20px;
    margin-top: 5px;

}

.entity {
        color: blue;
    font-weight: bold;
    margin-left: 10px;
}